.success-banner {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background-color: #f5f5f5;
  margin: 10px 0 5px 0;
  display: flex;
  align-items: center;
  color: #2B2B2B;
  padding: 0 5px;
  p {
    padding-left: 5px;
    font-size: 14px;
    margin: 0;
  }
  .success-banner-icon {
    font-size: 17px;
    margin-left: 5px;
    color: #23e323;
  }
  a {
    margin-left: 5px;
    color: #2B2B2B;
    text-decoration: underline;
  }
}