// 404 Page Not Found styles

.page-not-found {
  max-width: 1224px;
  margin: auto;
}

.page-not-found-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 300px;
  margin: auto;
}

.page-not-found-title {
  font-family: "FS Neruda";
  font-size: 35px;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-not-found-text {
  width: 300px;
  font-family: "FS Meridian";
  margin-bottom: 20px;
}

.page-not-found-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  a {
    display: flex;
    flex-direction: column;
    img {
      width: 200px;
      height: 140px;
    }
    p {
      text-transform: uppercase;
      border-bottom: 2px solid #2B2B2B;
      font-size: 14px;
      line-height: normal;
      font-family: FS Meridian Medium, sans-serif;
      position: relative;
      letter-spacing: .6px;
      color: #000;
      display: flex;
      margin: auto;
      margin-top: 10px;
    }
  }
}