.search-form {
  position: relative;
  display: flex;
  border-bottom: 1px solid #cfcdcd;
  width: 300px;
  margin-right: 30px;
  input {
    font-family: "FS Meridian";
    height: 25px;
    border: none;
    width: 280px;
    padding: 0 10px;
  }
  label {
    input {
      display: none;
    }
  }
  .search-icon {

  }
}