.sign-form {
  width: 50%;
  padding: 20px 0 50px 0;
}

.sign-form-content {
  max-width: 350px;
  margin: auto;
}

.sign-form-title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: "FS Neruda";
  padding: 20px 0 20px 0;
  margin: 0;
}

.sign-form-facebook {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #3b5998;
  border: none;
  border-radius: 2px;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  p {
    font-family: "FS Meridian";
    font-size: 15px;
    margin: 0;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
}

.sign-form-facebook-icon {
  left: 15px;
  position: absolute;
  color: #ffffff;
}

.sign-spacing {
  padding: 5px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    margin: 0;
    width: 40%;
    height: 1.5px;
    background-color: #dcdede;
  }

  p {
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    color: black;
    font-weight: bold;
  }
}

.sign-form-item {
  position: relative;
  p {
    margin: 0;
    color: black;
    font-size: 14px;
    font-family: "FS Meridian";
    margin-top: 20px;
  }

  input {
    padding: 0 10px;
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: rgb(220, 222, 222);
    border-radius: 2px;
  }
}

.login-form-submit {
  width: 100%;
  height: 40px;
  background-color: #FFEE60;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: black;
  border: none;
  border-radius: 2px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form-submit:hover {
  background-color: rgba(255, 238, 96, 0.76);
  transition: 0.3s;
}

.password-visibility-icon-container {
  position: absolute;
  right: +10px;
  top: +30px;
  .password-visibility-icon {
    font-size: 20px;
    cursor: pointer;
  }
  .visible-icon {
    color: #1483cd;
  }
}