.subscribe-form-container {
  height: 200px;
  background-color: #EFEEE5;
}

.subscribe-form-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .subscribe-form-title {
    font-size: 42px;
    font-family: "FS Neruda";
    width: 100%;
    color: black;
    margin: 0;
    margin-bottom: 10px;
  }
}

.subscribe-form {
  display: flex;
  align-items: center;
  max-width: 1224px;
  margin: auto;
  height: 200px;
  position: relative;
  display: flex;
  input {
    background-color: transparent;
    font-family: "FS Meridian";
    height: 45px;
    border: 2px solid black;
    width: 280px;
    padding: 0 10px;
  }
  label {
    input {
      display: none;
    }
  }
  .subscribe-form-submit {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    p {
      margin: 0;
      text-transform: uppercase;
    }
  }
  form {
    position: absolute;
    display: flex;
    right: 0;
  }
}
