.account-page {
  max-width: 1224px;
  width: 100%;
  margin: auto;
  color: #2B2B2B;
  padding-bottom: 20px;
}

.page-title {
  font-size: 40px;
  color: #2B2B2B;
  p {
    font-family: "FS Neruda";
    margin: 0;
  }

  span {
    height: 2px;
    width: 100%;
    background-color: #808080;
    display: flex;
    margin-bottom: 10px;
  }
}

.account-page-subtitle {
  font-size: 30px;
  margin: 0;
  font-family: "FS Neruda";
  padding-bottom: 20px;
}

.account-page-nav-item {
  padding-bottom: 20px;
  display: flex;

  .account-page-nav-item-icon {
    height: 50px;
    width: 50px;
    display: flex;
    font-size: 10px;

    .account-page-icon {
      font-size: 35px;
    }
  }

  .account-page-nav-item-description {
    a {
      color: #2B2B2B;
      text-transform: uppercase;
      font-family: "FS Meridian";
      font-weight: bold;
    }
  }
}

.account-page-logout-button {
  width: 100%;
  max-width: 300px;
  height: 40px;
  background-color: #FFEE60;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}