.address-page {
  max-width: 1224px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.add-new-address {
  width: 100%;
  max-width: 300px;
  height: 40px;
  background-color: #FFEE60;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.address-page-address {
  button {
    border: none;
    border-radius: 2px;
    color: #2B2B2B;
    width: 80px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s linear;
    background-color: #e8e8e8;
    cursor: pointer;
  }
  button:hover {
    transition: 0.2s linear;
    background-color: #efefef;
  }
}

.address-page-address-data {
  margin-top: 20px;
  margin-bottom: 20px;
  p {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.page-title {
  font-size: 40px;
  color: #2B2B2B;
  p {
    font-family: "FS Neruda";
    margin: 0;
  }

  span {
    height: 2px;
    width: 100%;
    background-color: #808080;
    display: flex;
    margin-bottom: 10px;
  }
}

.address-page-subtitle {
  font-size: 30px;
  color: #2B2B2B;
  p {
    font-family: "FS Neruda";
    margin: 0;
  }

  span {
    height: 2px;
    width: 100%;
    background-color: #808080;
    display: flex;
    margin-bottom: 10px;
  }
}