.address-page {
  max-width: 1224px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}

.add-new-address {
  width: 100%;
  max-width: 300px;
  height: 40px;
  background-color: #FFEE60;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}