.sign-page {
  max-width: 1224px;
  margin: auto;
}

.sign-title {
  border-bottom: 2px solid #dcdede;

  p {
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: "FS Neruda";
    padding: 20px 0 20px 0;
    margin: 0;
  }
}

.sign-page-content {
  display: flex;
  justify-content: space-between;

  .sign-page-spacer {
    margin-top: auto;
    margin-bottom: auto;
    height: 400px;
    width: 1px;
    display: flex;
    background-color: #dcdede;
  }
}

.sign-redirection {
  width: 50%;
  padding-top: 20px;
  display: flex;
  justify-content: center;

  div {
    width: 350px;
  }

  p {
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: "FS Neruda";
    padding: 20px 0 20px 0;
    margin: 0;
  }

  a {
    width: 100%;
    height: 50px;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-family: "FS Meridian";
    font-size: 15px;
    margin: 0;
    color: black;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: 0.5s;
  }

  a:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    box-shadow: black;
  }
}

.sign-form-checkbox {
  padding-top: 20px;
  display: flex;

  input {
    margin-top: 4px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.sign-form-remember-checkbox {
  display: flex;

  input {
    margin-top: 4px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.sign-page-spacer-high {
  height: 800px;
  margin-top: auto;
  margin-bottom: auto;
  width: 1px;
  display: flex;
  background-color: #dcdede;
}

.sign-form-error {
  color: #CC4b4b !important;
  margin: 0 !important;
}