.home-about-us {
  height: 650px;
  background-color: #ffa38e;
  max-width: 1244px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-about-us-content {
  position: relative;
  background-color: white;
  max-width: 1144px;
  height: 550px;
  margin: 50px;
  display: flex;
  img {
    width: 50%;
    height: 100%;
  }
  .home-about-us-content {
    margin: 0;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  .home-about-us-title {
    font-size: 42px;
    font-family: "FS Neruda";
    width: 100%;
    color: black;
    margin: 0;
    margin-bottom: 10px;
  }
  a {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    border-bottom: 2px solid #2B2B2B;
    font-size: 14px;
    line-height: normal;
    font-family: FS Meridian Medium, sans-serif;
    position: relative;
    letter-spacing: .6px;
    color: #000;
    cursor: pointer;
  }
}
