.shop-navigation {
  max-width: 1244px;
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .shop-navigation-image {
    width: 40%;
    display: flex;
    justify-content: center;
    img {
      height: 350px;
    }
  }
  .shop-navigation-nav {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .shop-navigation-title {
      text-transform: uppercase;
      border-bottom: 2px solid #2B2B2B;
      font-size: 14px;
      line-height: normal;
      font-family: FS Meridian Medium, sans-serif;
      position: relative;
      letter-spacing: .6px;
      color: #000;
      cursor: pointer;
    }
    a {
      font-size: 42px;
      font-family: "FS Neruda";
      width: 100%;
      color: black;
      margin: 0;
    }
  }
}