// Basic header styles
.header {
  width: 100%;
}

// First header area styles
.first-header-area {
  height: 75px;
  margin: auto;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1424px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 60px;
    width: 60px;
    margin-left: 30px;

    img {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }

  .secondary-area {
    margin-right: 30px;
    display: flex;

    .secondary-area-content {
      position: relative;
    }

    #account-link:hover .secondary-area-dropdown {
      display: flex;
    }

    .secondary-area-dropdown {
      position: absolute;
      width: 160px;
      height: 170px;
      background-color: white;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      z-index: 9999;
      display: none;
    }

    .secondary-area-dropdown-content {
      width: 80%;
      height: 80%;
      margin: auto;
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      a {
        color: black;
        font-size: 15px;
        margin-top: 5px;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .secondary-area-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      color: black;
      text-transform: uppercase;
      font-size: 11px;

      .secondary-area-icon {
        font-size: 28px;
        color: #2b2b2b;
      }
    }
  }
}

// Second header area styles
.second-header-area {
  height: 40px;
  display: flex;
  justify-content: center;

  .nav {
    display: flex;
    align-items: center;
    font-family: "FS Meridian";
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    height: 100%;

    li {
      padding-right: 10px;
      padding-left: 10px;
    }

    a {
      color: #000000;
    }
  }

  .nav:hover {
    background-color: #2B2B2B;

    a {
      height: 100%;
      color: white;
    }
  }
}


// Information bar styles
.info-bar {
  background-color: #f5f5f5;
  height: 98px;
  display: flex;
  justify-content: center;

  .info-bar-content {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 1224px;

    p {
      padding-top: 20px;
      font-family: "FS Meridian";
      font-size: 16px;
      color: black;
    }

    a {
      color: black;
      text-decoration: underline;
      font-size: 13px;
    }

    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}