* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: "FS Meridian";
}

@font-face {
  font-family: 'FS Meridian';
  src: url("assets/fonts/FS-Meridian.woff") format('woff');
}

@font-face {
  font-family: 'FS Neruda';
  src: url("assets/fonts/FS-Neruda.otf") format('opentype');
}