.house-proud-slider-container {
  max-width: 1224px;
  width: 100%;
  margin: auto;
}

.house-proud-slider {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.house-proud-slide {
  padding-left: 5px;
  padding-right: 5px;
  width: 80% / 4;
  height: 250px;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.house-proud-slider-title {
  text-align: center;
  font-size: 40px;
  font-family: "FS Neruda";
  width: 100%;
  color: black;
  margin: 0;
}

.house-proud-slider-description {
  text-align: center;
  max-width: 400px;
  margin: auto;
}