.main-product-slider {
  position: relative;
  max-width: 950px;
  img {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
  }
}

.additional-product-slider {
  width: 60%;
  padding-top: 2px;
}

.additional-product-slide {
  height: 50px;
  width: 100px;
  padding: 5px 5px 5px 5px;
  img {
    border: 0.5px solid #c6c5c5;
    width: 100%;
    height: 100%;
  }
}
