.main-product-slider {
  position: relative;
  max-width: 950px;
  img {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
  }
}

.additional-product-slider {
  width: 60%;
  padding-top: 2px;
}

.additional-product-slide {
  height: 50px;
  width: 100px;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  img {
    border: 0.5px solid #c6c5c5;
    width: 100%;
    height: 100%;
  }
}

.product-slider-next, .product-slider-prev {
  cursor: pointer;
  width: 80px;
  height: 50px;
  background-color: rgba(220, 220, 220, 0.32);
  position: absolute;
  z-index: 999;
  top: +41%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-slider-next {
  margin-right: 5px;
}

.product-slider-prev {
  left: 0;
  margin-left: 5px;
}

.product-slider-prev-arrow {
  transform: rotateY(180deg);
}